# Customer Churn Prediction

In [1]:
import pandas as pd

In [44]:
excel_sheets = pd.ExcelFile("E Commerce Dataset.xlsx")

In [45]:
df = excel_sheets.parse(excel_sheets.sheet_names[1])

In [46]:
df.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60

In [47]:
df.isna().sum()

CustomerID                       0
Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [48]:
df['Tenure'].fillna(df['Tenure'].mean(), inplace=True)

In [49]:
df['WarehouseToHome'].fillna(df['WarehouseToHome'].mean(), inplace=True)

In [50]:
df['HourSpendOnApp'].fillna(df['HourSpendOnApp'].mean(), inplace=True)

In [51]:
df['OrderAmountHikeFromlastYear'].fillna(df['OrderAmountHikeFromlastYear'].mean(), inplace=True)

In [52]:
df['CouponUsed'].fillna(df['CouponUsed'].mean(), inplace=True)

In [53]:
df['OrderCount'].fillna(df['OrderCount'].mean(), inplace=True)

In [54]:
df['DaySinceLastOrder'].fillna(df['DaySinceLastOrder'].mean(), inplace=True)

In [55]:
df.dtypes

CustomerID                       int64
Churn                            int64
Tenure                         float64
PreferredLoginDevice            object
CityTier                         int64
WarehouseToHome                float64
PreferredPaymentMode            object
Gender                          object
HourSpendOnApp                 float64
NumberOfDeviceRegistered         int64
PreferedOrderCat                object
SatisfactionScore                int64
MaritalStatus                   object
NumberOfAddress                  int64
Complain                         int64
OrderAmountHikeFromlastYear    float64
CouponUsed                     float64
OrderCount                     float64
DaySinceLastOrder              float64
CashbackAmount                 float64
dtype: object

In [56]:
df = pd.get_dummies(columns=['Gender'], data=df, drop_first=True)

In [58]:
df = pd.get_dummies(columns=['PreferredLoginDevice'], data=df)

In [61]:
df = pd.get_dummies(columns=['PreferedOrderCat'], data=df)

In [62]:
df = pd.get_dummies(columns=['PreferredPaymentMode'], data=df)

In [63]:
df = pd.get_dummies(columns=['MaritalStatus'], data=df)

In [66]:
X = df[['Tenure', 'CityTier', 'WarehouseToHome',
       'HourSpendOnApp', 'NumberOfDeviceRegistered', 'SatisfactionScore',
       'NumberOfAddress', 'Complain', 'OrderAmountHikeFromlastYear',
       'CouponUsed', 'OrderCount', 'DaySinceLastOrder', 'CashbackAmount',
       'Gender_Male', 'PreferredLoginDevice_Computer',
       'PreferredLoginDevice_Mobile Phone', 'PreferredLoginDevice_Phone',
       'PreferedOrderCat_Fashion', 'PreferedOrderCat_Grocery',
       'PreferedOrderCat_Laptop & Accessory', 'PreferedOrderCat_Mobile',
       'PreferedOrderCat_Mobile Phone', 'PreferedOrderCat_Others',
       'PreferredPaymentMode_CC', 'PreferredPaymentMode_COD',
       'PreferredPaymentMode_Cash on Delivery',
       'PreferredPaymentMode_Credit Card', 'PreferredPaymentMode_Debit Card',
       'PreferredPaymentMode_E wallet', 'PreferredPaymentMode_UPI',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single']]
y = df['Churn']

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [73]:
from sklearn.linear_model import LogisticRegression

In [74]:
model = LogisticRegression()

In [75]:
model.fit(X_train, y_train)

D:\apps\anaconda\files\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [77]:
predictions = model.predict(X_test)

In [79]:
from sklearn.metrics import confusion_matrix, classification_report

In [80]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.90      0.97      0.94      1407
           1       0.78      0.49      0.60       282

    accuracy                           0.89      1689
   macro avg       0.84      0.73      0.77      1689
weighted avg       0.88      0.89      0.88      1689

In [81]:
print(confusion_matrix(y_test, predictions))

[[1368   39]
 [ 144  138]]

In [85]:
test_person = {
    'Tenure': 3, 
    'CityTier': 2, 
    'WarehouseToHome': 400,
    'HourSpendOnApp': 1, 
    'NumberOfDeviceRegistered': 1, 
    'SatisfactionScore': 1.0,
       'NumberOfAddress': 3, 
    'Complain': 20, 
    'OrderAmountHikeFromlastYear': 0,
       'CouponUsed': 0, 
    'OrderCount': 2, 
    'DaySinceLastOrder': 50, 
    'CashbackAmount': 0,
       'Gender_Male': 1, 
    
    'PreferredLoginDevice_Computer': 0,
       'PreferredLoginDevice_Mobile Phone': 0, 
    'PreferredLoginDevice_Phone': 1,
    
       'PreferedOrderCat_Fashion':0, 
    'PreferedOrderCat_Grocery': 1,
       'PreferedOrderCat_Laptop & Accessory':0, 
    'PreferedOrderCat_Mobile':0,
       'PreferedOrderCat_Mobile Phone':0, 
    'PreferedOrderCat_Others':0,
    
       'PreferredPaymentMode_CC':0, 
    'PreferredPaymentMode_COD':0,
       'PreferredPaymentMode_Cash on Delivery':1,
       'PreferredPaymentMode_Credit Card':0,
    'PreferredPaymentMode_Debit Card':0,
       'PreferredPaymentMode_E wallet':0, 
    'PreferredPaymentMode_UPI':0,
    
       'MaritalStatus_Divorced':0, 
    'MaritalStatus_Married':1,
       'MaritalStatus_Single':0
}

test_df = pd.DataFrame([test_person])
test_df

,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,...,PreferredPaymentMode_CC,PreferredPaymentMode_COD,PreferredPaymentMode_Cash on Delivery,PreferredPaymentMode_Credit Card,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,3,2,400,1,1,1.0,3,20,0,0,...,0,0,1,0,0,0,0,0,1,0

In [87]:
model.predict(test_df)[0]

1